*{
    margin:0;
    pading:0;
}

body{
    font-family: "Verdana", "san-serif";
    margin:0 0 20px 0;
    width:100%;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-image:url("../img/ffback.jpg");
    background-color:#2B324F;
    color:#363A54;
}

h1, h2, h3, h4, h5{
    font-family: 'Cinzel', serif;
}

h1{
    font-size:3.5em;
}

.hero .callAction h4{
    font-size:1.4em;
}

/*Basic Structure*/

header{
    background-color:#2b2b41;
    padding:20px 2% 20px 2%;
    overflow:hidden;
}

.subHead{
    padding:10px 3% 10px 3%;
    margin-bottom:25px;
}

.wrapper{
     margin:0px auto;
     width:80%;
 }

.col-5{
    width:48%;
    float:left;
}

.col-5 ul li{
    list-style:none;
    font-weight:bold;
    margin-top:20px;
}

hr{
    color:#FFFFFF;
    margin-top:40px;
    margin-bottom:40px;
    clear:left;
}

.callAction{
    background:url("../img/bah.png") no-repeat center center fixed;
    background-size:100%;
    color:#FFF;
    padding:50px 3% 50px 3%;
}

.callAction a{
    text-decoration:none;
    color:#d4f2ff;
}

.subHead{
    background-color:#FFF;
}


.hidden{
    style:none;
    opacity:0.0;
    margin: 10px 0 10px 0;
}

.row{
    width:100%;
}

/*Navigation*/

.nav {
    font-family: arial, sans-serif;
    position: relative;
    width:100%;
    font-size:0.8em;
    color:#FFF;
}

.nav ul {
    list-style-type: none;
}

.nav ul li {
    float: left;
    position: relative;
    transition:all 0.1s ease-in-out;
}

.nav ul li:hover{
    color:#d4f2ff;
    background-color:#000;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
}

.nav ul li a {
    text-align: center;
    font-size:1.15em;
    padding:20px;
    display:block;
    overflow:hidden;
    text-decoration:none;
    color:#FFF;
}

.nav ul li a:hover {
    color:#d4f2ff;
}

.nav ul li ul {
    display: none
}

.nav ul li:hover ul {
    display: block;
    position: absolute;
}

.nav ul li:hover ul li a {
    display:block;
    background:#2b2b41;
    color:#FFF;
    width: 50px;
    text-align: center;
    border-bottom: 1px solid #f2f2f2;
    border-right: none;
}

.nav ul li:hover ul li a:hover {
    background:#000;
    color:#d4f2ff;
}



/*Video Containers*/

.subVideo{
    padding:2%;
    margin: 0 3.5% 20px 3.5%;
    width:40%;
    float:left;
}

.subVideo iframe{
    display:block;
    max-width:100%;
}

/*--Image Gallery--*/
.thumb{
    width:90%;
    background-color:#FFFFFF;
    padding:2%;
    box-shadow: -5px 5px 20px 1px #d4f2ff;
    margin: 0 3.5% 40px 3.5%;
    clear:left;
    overflow:hidden;
}

.thumb img{
    margin-bottom:1.5px;
    max-width:100%;
    outline:3px solid #303849;
    display:block;
}

.thumb p{
    text-align:left;
    margin-bottom:20px;
}

.thumb .timg{
    width:50%;
    float:left;
    margin-bottom:20px;
    opacity: 0.5;
    transition:all 0.1s ease-in-out;
}

.thumb .timg:hover{
    opacity: 1.0;
    box-shadow: 0px 0px 20px 3px #d4f2ff;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.5);

}

.thumb .content{
    float:left;
    width:40%;
    margin:0 2% 0 2%;
}

/*--Form area--*/
.fDiv{
    background-color:#FFF;
    box-shadow: -5px 5px 20px 1px #d4f2ff;
    padding:2%;
    margin: 0 3.5% 20px 3.5%;
    width:37%;
    float:left;
}

.text{
    width:40%;
}

.textArea{
    width:70%;
    height:50px;
}

form{
    margin: 10px 0 12px 0;
}

.formDiv{
    margin-bottom:20px;
}

/*--Video and Table--*/
.videoDiv{
    background-color:#FFF;
    box-shadow: -5px 5px 20px 1px #d4f2ff;
    padding:2%;
    margin: 0 3.5% 20px 3.5%;
    width:40%;
    float:left;
}

.videoDiv iframe{
    display:block;
    max-width:100%;
}

table{
    width:100%;
    outline:1px solid #303849;
}

/*Media Breaks*/


@media all and (max-width: 1300px) {

    .subVideo{
        margin:30px 0 0 0;
        padding:0;
    }

    .subVideo, .col-5{
        float:none;
        width:100%;
    }
}

@media all and (max-width: 950px){

    .fDiv, .videoDiv{
        width:89%;
        float:none;
    }

}

@media all and (max-width: 950px){
    .thumb .timg, .thumb .content {
        width:100%;
        float:none;
    }
}

@media all and (max-width: 523px){

}

@media all and (max-width: 341px){
    h1{
        font-size:3em;
    }

}
